[package]
name = "codegen"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
lazy_static = "1.4"
serde_json = "1.0"
tempfile = "3.5.0"
tokio = { version = "1.36", features = ["full"] }
tracing = "0.1"

node = { path = "../node" }
parser = { path = "../parser" }
rpc-api = { path = "../rpc-api" }
transport = { path = "../transport" }
